    body {
            margin: 0;
            font-family: Arial, sans-serif;
            color: red; 
        }
        .menu-horizontal {
            list-style: none;
            margin: 0;
            padding: 0;
            background: #f5f5dc;
            display: flex;
            width: fit-content;
            min-width: 0;
            box-shadow: 2px 0 8px -6px #888;
        }
        .menu-horizontal li {
            margin: 0;
            position: relative;
        }
        .menu-horizontal li a {
            display: block;
            padding: 14px 24px;
            color: red;
            text-decoration: none;
            transition: background 0.2s;
            white-space: nowrap;
            height: 100%;
        }
        .menu-horizontal li::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background: #1976d2;
        }
        .menu-horizontal li a:hover {
            background: #e0cda9;
        }
        .container {
            display: flex;
            align-items: flex-start;
            margin-top: 24px;
        }
        .menu-vertical {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 180px;
            background: #f5f5dc;
            border-right: 2px solid #1976d2;
            height: auto;
            min-height: 0;
            box-shadow: 2px 0 8px -6px #888;
        }
        .menu-vertical li {
            margin: 0;
        }
        .menu-vertical li a {
            display: block;
            padding: 14px 24px;
            color: red;
            text-decoration: none;
            transition: background 0.2s;
            border-right: none;
            white-space: nowrap;
            text-align: center;
        }
        .menu-vertical li a:hover {
            background: #e0cda9;
        }
        .menu-vertical li:last-child a {
            border-bottom: none;
        }