body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}

h1 {
  color: #003366;
  text-align: center;
}


h1 + p {
  text-indent: 40px;  
  color: #0044cc;
}


h1 ~ p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
